<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Hello In-App Payments Instructions</title>
    <link href="/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div style="text-align: right;"><a href="/">Back to main</a></div>
    <h1>Instructions for how to play:</h1>
    <div>1. To move left to right, simply press the left and right arrow keys. For example, pressing right</div>
    <div>
      will move from
      <img src="/images/screencap_next_to_block.png" align="middle" alt="Next to" />
      to 
      <img src="/images/screencap_move_away_from_block.png" align="middle" alt="Move away" />
    </div>
    <div>2. To pick up a block, press the up arrow when directly next to and facing that block. For example, pressing up</div>
    <div>
      will move from
      <img src="/images/screencap_next_to_block.png" align="middle" alt="Next to" />
      to 
      <img src="/images/screencap_pick_up_block.png" align="middle" alt="Pick up" />
    </div>
    <div>NOTE: You are "facing" the last direction you pressed left or right in, and by default, you begin facing right. Also, you can't pick up a block with another block on top of it.</div>
    <div>3. To put that same block down, press the down arrow</div>
    <div>4. To jump up on a block, press the space bar directly next to and facing that block. For example, pressing space bar</div>
    <div>
      will move from
      <img src="/images/screencap_next_to_block.png" align="middle" alt="Next to" />
      to 
      <img src="/images/screencap_on_top_of_block.png" align="middle" alt="On top of" />
    <div>NOTE: "Facing" as defined in the note to 2. Also, you can't jump on a block with another block on top of it.</div>
    <div>5. When you have moved off a ledge or dropped a block off a ledge, all gameplay pauses until you reach the next lowest point.</div>
    </div>
  </body>
</html>
